nav.navbar {
	padding: 5px;
	font-size: 20px;
} 
.btn-floating {
	position: absolute;
	bottom: 30px;
	right: 30px;
	position: fixed;
}

.login {
	margin: auto;
	position: absolute;
	top:0;right: 0;bottom: 0;left: 0;
	height: 270px;
	width: 400px;
	opacity: .9;
}

.logo {
	width: 240px;
	height: 50px !important;
}