.form-dark {
	margin: auto;
	position: absolute;
	top:0;right: 0;bottom: 0;left: 0;
	height: 450px;
	width: 400px;
}

.form-dark .md-form label {
	color: #fff;
}

.form-dark input[type=text]:focus:not([readonly]) {
	border-bottom: 1px solid #00c851;
	box-shadow: 0 1px 0 0 #00c851;
}
.form-dark input[type=text]:focus:not([readonly]) + label {
	color: #fff;
}
.form-dark input[type=password]:focus:not([readonly]){
	border-bottom: 1px solid #00c851;
	box-shadow: 0 1px 0 0 #00c851;
}
.form-dark input[type=text]:focus:not([readonly]) + label {
	color: #fff;
}